# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Environment
.env
*.log

# Notes
note

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/terraform.tfvars
terraform/modules/snapshot/snapshot_id.txt

# Terraform
# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc